[config]

zodb-cache-size=5000
zserver-threads = 4

effective-user = plone

data-directory = /var/lib/PlatoCDP/data/
log-directory = /var/log/PlatoCDP/
backup-directory = /var/lib/PlatoCDP/backups/
# turn this off for remote ZEO server
shared-blob = on

[addresses]

instance1-host = 127.0.0.1
instance1-port = 8081

instance2-host = 127.0.0.1
instance2-port = 8082

zeoserver-address = 127.0.0.1:8100

haproxy-host = 127.0.0.1
haproxy-port = 8080

instanceworker1-host = 127.0.0.1
instanceworker1-port = 8083

zrs-host = 0.0.0.0
zrs-port = 5100

[secrets]
munin-secret = @@@!!!CHANGETHIS!!!@@@
default-username = admin
default-password = admin


