[config]

sites = defaultsite

zodb-cache-size=5000
zserver-threads = 4

effective-user = plone

data-directory = /var/lib/platocdp/data/
log-directory = /var/log/platocdp/
backup-directory = /var/lib/platocdp/backups/
eggs-directory = /var/lib/platocdp/eggs
# turn this off for remote ZEO server
shared-blob = on

timezone = Asia/Kuala_Lumpur

additional-eggs = 

[defaultsite]
recipe = collective.recipe.plonesite
site-id = platocdp
instance = instance1
zeoserver = zeoserver
profiles-initial = platocdp.policy:default
host = demo.koslab.org
protocol = http
port = 80

[addresses]

instance1-host = 127.0.0.1
instance1-port = 8081

instance2-host = 127.0.0.1
instance2-port = 8082

zeoserver-address = 127.0.0.1:8100

haproxy-host = 127.0.0.1
haproxy-port = 8080

instanceworker1-host = 127.0.0.1
instanceworker1-port = 8083

zrs-host = 0.0.0.0
zrs-port = 5100

[secrets]
munin-secret = @@@!!!CHANGETHIS!!!@@@
default-username = admin
default-password = admin

[versions]
# additional version locks
