[config]
effective-user = plone

data-directory = /var/lib/platocdp/zrs/data/
backup-directory = /var/lib/platocdp/zrs/backups/
log-directory = /var/log/platocdp/

[addresses]
zrs-source-host = 127.0.0.1
zrs-source-port = 5100
zrsreplicator-address = 127.0.0.1:8101
